{% extends "base.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<div style="width: 300px; height: 200px; margin: 0 auto; padding-top: 100px">
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="next" value="/bulletin/orders/" />
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Post order
    </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}


