{% extends "base.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
<table border="1" style="border-collapse: collapse">
    <caption>Open Orders</caption>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Bounty</th>
        <th>Customer</th>
        {% if request.user.client.type == 'EXEC' %}
        <th>Take order</th>
        {% endif %}
    </tr>
    {% for item in order_list %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.bounty}}</td>
        <td>{{item.created_by.user.username}}</td>
        {% if request.user.client.type == 'EXEC' %}
        <td><a href="{{item.id}}"><button style="height: 100%; width: 100%">Take order</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

